In [1]:
from daily_forecast import import_data, create_forecast_dates, map_calendar, map_holidays, map_snaps
from daily_forecast import rank_products, filter_product, unpivot_weeks
from daily_forecast import join_snaps, join_dates, tag_train_eval, join_holidays, join_prices, include_diff_dates
from daily_forecast import boxcox_transform
from daily_forecast import select_variables, transform_dummies, train_eval_split

In [2]:
df_raw, calendar, price = import_data()

In [3]:
df_raw = create_forecast_dates(df_raw)

In [4]:
mapping_calendar = map_calendar(calendar)
holidays = map_holidays(calendar)
snaps = map_snaps(calendar)

In [5]:
sorted_products = rank_products(df_raw)
id = sorted_products.index[0]

In [6]:
df = filter_product(df_raw, id)

In [7]:
df = unpivot_weeks(df)

In [8]:
df = join_snaps(df, snaps)

In [9]:
df = join_dates(df, mapping_calendar)

In [10]:
df = tag_train_eval(df)

In [11]:
df = join_holidays(df, holidays)

In [12]:
df = join_prices(df, price)

In [13]:
df = include_diff_dates(df)

In [14]:
df, boxcox_lambda = boxcox_transform(df)

In [15]:
df = select_variables(df)

In [ ]:
df = transform_dummies(df)

In [ ]:
df.head()

In [16]:
df_train, df_test = train_eval_split(df)

In [17]:
df_train

,id,date,value,month,weekday,holiday,snap,sell_price,dt,dt2
0,FOODS_3_090_CA_3_validation,2011-01-29,14.934158,1,5_Sat,0,0,1.25,0,0
1,FOODS_3_090_CA_3_validation,2011-01-30,16.460409,1,6_Sun,0,0,1.25,1,1
2,FOODS_3_090_CA_3_validation,2011-01-31,14.522997,1,0_Mon,0,0,1.25,2,4
3,FOODS_3_090_CA_3_validation,2011-02-01,15.719075,2,1_Tue,0,1,1.25,3,9
4,FOODS_3_090_CA_3_validation,2011-02-02,14.798583,2,2_Wed,0,1,1.25,4,16
5,FOODS_3_090_CA_3_validation,2011-02-03,15.908233,2,3_Thu,0,1,1.25,5,25
6,FOODS_3_090_CA_3_validation,2011-02-04,23.465055,2,4_Fri,0,1,1.25,6,36
7,FOODS_3_090_CA_3_validation,2011-02-05,18.839993,2,5_Sat,0,1,1.25,7,49
8,FOODS_3_090_CA_3_validation,2011-02-06,19.393343,2,6_Sun,SuperBowl,1,1.25,8,64
9,FOODS_3_090_CA_3_validation,2011-02-07,15.719075,2,0_Mon,0,1,1.25,9,81
10,FOODS_3_090_CA_3_validation,2011-02-08,0.000000,2,1_Tue,0,1,1.25,10,100
11,FOODS_3_090_CA_3_validation,2011-02-09,0.000000,2,2_Wed,0,1,1.25,11,121
12,FOODS_3_090_CA_3_validation,2011-02-10,0.000000,2,3_Thu,0,1,1.25,12,144
13,FOODS_3_090_CA_3_validation,2011-02-11,0.000000,2,4_Fri,0,0,1.25,13,169
14,FOODS_3_090_CA_3_validation,2011-02-12,0.000000,2,5_Sat,0,0,1.25,14,196
15,FOODS_3_090_CA_3_validation,2011-02-13,0.000000,2,6_Sun,0,0,1.25,15,225
16,FOODS_3_090_CA_3_validation,2011-02-14,0.000000,2,0_Mon,ValentinesDay,0,1.25,16,256
17,FOODS_3_090_CA_3_validation,2011-02-15,0.000000,2,1_Tue,0,0,1.25,17,289
18,FOODS_3_090_CA_3_validation,2011-02-16,0.000000,2,2_Wed,0,0,1.25,18,324
19,FOODS_3_090_CA_3_validation,2011-02-17,0.000000,2,3_Thu,0,0,1.25,19,361
20,FOODS_3_090_CA_3_validation,2011-02-18,0.000000,2,4_Fri,0,0,1.25,20,400
21,FOODS_3_090_CA_3_validation,2011-02-19,0.000000,2,5_Sat,0,0,1.25,21,441
22,FOODS_3_090_CA_3_validation,2011-02-20,0.000000,2,6_Sun,0,0,1.25,22,484
23,FOODS_3_090_CA_3_validation,2011-02-21,0.000000,2,0_Mon,0,0,1.25,23,529
24,FOODS_3_090_CA_3_validation,2011-02-22,0.000000,2,1_Tue,0,0,1.25,24,576
25,FOODS_3_090_CA_3_validation,2011-02-23,0.000000,2,2_Wed,0,0,1.25,25,625
26,FOODS_3_090_CA_3_validation,2011-02-24,0.000000,2,3_Thu,0,0,1.25,26,676
27,FOODS_3_090_CA_3_validation,2011-02-25,0.000000,2,4_Fri,0,0,1.25,27,729
28,FOODS_3_090_CA_3_validation,2011-02-26,0.000000,2,5_Sat,0,0,1.25,28,784
29,FOODS_3_090_CA_3_validation,2011-02-27,0.000000,2,6_Sun,0,0,1.25,29,841
...,...,...,...,...,...,...,...,...,...,...
1883,FOODS_3_090_CA_3_validation,2016-03-26,20.903969,3,5_Sat,0,0,1.60,1883,3545689
1884,FOODS_3_090_CA_3_validation,2016-03-27,20.630903,3,6_Sun,Easter,0,1.60,1884,3549456
1885,FOODS_3_090_CA_3_validation,2016-03-28,11.247267,3,0_Mon,0,0,1.60,1885,3553225
1886,FOODS_3_090_CA_3_validation,2016-03-29,11.340098,3,1_Tue,0,0,1.60,1886,3556996
1887,FOODS_3_090_CA_3_validation,2016-03-30,12.139948,3,2_Wed,0,0,1.60,1887,3560769
1888,FOODS_3_090_CA_3_validation,2016-03-31,16.339605,3,3_Thu,0,0,1.60,1888,3564544
1889,FOODS_3_090_CA_3_validation,2016-04-01,17.835267,4,4_Fri,0,1,1.60,1889,3568321
1890,FOODS_3_090_CA_3_validation,2016-04-02,16.520419,4,5_Sat,0,1,1.60,1890,3572100
1891,FOODS_3_090_CA_3_validation,2016-04-03,15.332505,4,6_Sun,0,1,1.60,1891,3575881
1892,FOODS_3_090_CA_3_validation,2016-04-04,12.884163,4,0_Mon,0,1,1.60,1892,3579664
1893,FOODS_3_090_CA_3_validation,2016-04-05,12.476949,4,1_Tue,0,1,1.60,1893,3583449
1894,FOODS_3_090_CA_3_validation,2016-04-06,15.266958,4,2_Wed,0,1,1.60,1894,3587236
1895,FOODS_3_090_CA_3_validation,2016-04-07,12.963857,4,3_Thu,0,1,1.60,1895,3591025
1896,FOODS_3_090_CA_3_validation,2016-04-08,14.866551,4,4_Fri,0,1,1.60,1896,3594816
1897,FOODS_3_090_CA_3_validation,2016-04-09,18.052366,4,5_Sat,0,1,1.60,1897,3598609
1898,FOODS_3_090_CA_3_validation,2016-04-10,15.970699,4,6_Sun,0,1,1.60,1898,3602404
1899,FOODS_3_090_CA_3_validation,2016-04-11,14.866551,4,0_Mon,0,0,1.60,1899,3606201
1900,FOODS_3_090_CA_3_validation,2016-04-12,13.199641,4,1_Tue,0,0,1.60,1900,3610000
1901,FOODS_3_090_CA_3_validation,2016-04-13,13.506695,4,2_Wed,0,0,1.60,1901,3613801
1902,FOODS_3_090_CA_3_validation,2016-04-14,13.657250,4,3_Thu,0,0,1.60,1902,3617604
1903,FOODS_3_090_CA_3_validation,2016-04-15,16.278806,4,4_Fri,0,0,1.60,1903,3621409
1904,FOODS_3_090_CA_3_validation,2016-04-16,18.052366,4,5_Sat,0,0,1.60,1904,3625216
1905,FOODS_3_090_CA_3_validation,2016-04-17,20.259846,4,6_Sun,0,0,1.60,1905,3629025
1906,FOODS_3_090_CA_3_validation,2016-04-18,13.354182,4,0_Mon,0,0,1.60,1906,3632836
1907,FOODS_3_090_CA_3_validation,2016-04-19,14.382894,4,1_Tue,0,0,1.60,1907,3636649
1908,FOODS_3_090_CA_3_validation,2016-04-20,13.506695,4,2_Wed,0,0,1.60,1908,3640464
1909,FOODS_3_090_CA_3_validation,2016-04-21,12.641630,4,3_Thu,0,0,1.60,1909,3644281
1910,FOODS_3_090_CA_3_validation,2016-04-22,16.991498,4,4_Fri,0,0,1.60,1910,3648100
1911,FOODS_3_090_CA_3_validation,2016-04-23,16.875189,4,5_Sat,0,0,1.60,1911,3651921
1912,FOODS_3_090_CA_3_validation,2016-04-24,16.339605,4,6_Sun,0,0,1.60,1912,3655744