In [1]:
import matplotlib.pyplot as plt

from daily_forecast import import_data, create_forecast_dates, map_calendar, map_holidays, map_snaps
from daily_forecast import rank_products, filter_product, unpivot_weeks
from daily_forecast import join_snaps, join_dates, tag_train_eval, join_holidays, join_prices, include_diff_dates
from daily_forecast import boxcox_transform
from daily_forecast import select_variables, transform_dummies, train_eval_split, train_test_split, extract_X_y 
from daily_forecast import standardize_X, train_model, predict_model
from daily_forecast import create_df_out, insert_predictions, export_df

In [2]:
df_raw, calendar, price = import_data()

In [3]:
df_raw = create_forecast_dates(df_raw)

In [4]:
mapping_calendar = map_calendar(calendar)
holidays = map_holidays(calendar)
snaps = map_snaps(calendar)

In [5]:
sorted_products = rank_products(df_raw)
id = sorted_products.index[1]

In [6]:
df = filter_product(df_raw, id)

In [7]:
df = unpivot_weeks(df)

In [8]:
df = join_snaps(df, snaps)

In [9]:
df = join_dates(df, mapping_calendar)

In [10]:
df = tag_train_eval(df)

In [11]:
df = join_holidays(df, holidays)

In [12]:
df = join_prices(df, price)

In [13]:
df = include_diff_dates(df)

In [14]:
df, boxcox_lambda = boxcox_transform(df)

In [15]:
df, item = select_variables(df)

In [16]:
df = transform_dummies(df)

In [17]:
df_training, df_eval= train_eval_split(df)

In [18]:
df_train, df_test = train_test_split(df_training)

In [19]:
X_train, y_train = extract_X_y(df_train)
X_test, y_test = extract_X_y(df_test)
X_eval, y_eval = extract_X_y(df_eval)

In [20]:
X_train, X_test, X_eval = standardize_X(X_train, X_test, X_eval)

In [21]:
model = train_model(X_train, y_train)
y_pred = predict_model(model, X_eval)

In [39]:
df_out = create_df_out()

In [41]:
row = 0
df_out = insert_predictions(df_out, row, item, y_pred)

(0, 29)

In [23]:
cols = ['id'] + ['F'+str(i) for i in range(1,29)]

In [24]:
df_out = pd.DataFrame(columns=cols)

In [25]:
df_out

Empty DataFrame
Columns: [id, F1, F2, F3, F4, F5, F6, F7, F8, F9, F10, F11, F12, F13, F14, F15, F16, F17, F18, F19, F20, F21, F22, F23, F24, F25, F26, F27, F28]
Index: []

[0 rows x 29 columns]

In [26]:
df_out.loc[0,'id'] = item

In [27]:
df_out.iloc[0, 1:] = y_pred.T

In [28]:
df_out

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
0,FOODS_3_586_TX_2_validation,26.9154,24.4646,25.3476,28.5946,40.7012,59.9323,59.8838,26.8098,28.4505,...,44.2236,59.3622,58.9596,25.8849,23.4331,24.3152,27.5612,39.6669,58.897,54.4022

In [29]:
df_out.to_csv()

',id,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,F16,F17,F18,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28\r\n0,FOODS_3_586_TX_2_validation,26.915385025711416,24.46455838816211,25.34760071364802,28.594604995005973,40.70124416555193,59.93233944817006,59.88379327869953,26.809786932830207,28.450460634472073,25.241360056688904,32.57986467723802,44.686182565745035,63.9169565663242,78.77168724178863,30.440295122822008,23.89700429996467,28.87122568260279,32.11758739988282,44.223584006350876,59.36221510366098,58.959560006028084,25.884911096080856,23.433120612414683,24.315199091783718,27.561239527024803,39.666914851453896,58.89704628795517,54.4022482870532\r\n'