In [1]:
from daily_forecast_v1 import import_data, map_calendar, map_holidays 
from daily_forecast_v1 import rank_products, filter_product

In [2]:
df_raw, calendar, price = import_data()

In [3]:
mapping_calendar = map_calendar(calendar)

In [4]:
holidays = map_holidays(calendar)

In [5]:
sorted_products = rank_products(df_raw)

In [6]:
id = sorted_products.index[0]
id

'FOODS_3_090_CA_3_validation'

In [9]:
df = filter_product(df_raw, id)
df

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1904,d_1905,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913
8412,FOODS_3_090_CA_3_validation,FOODS_3_090,FOODS_3,FOODS,CA_3,CA,108,132,102,120,...,129,160,204,86,100,88,77,141,139,130